# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log
*.log.*

# Project specific
src/memorised.txt.lock
src/system_prompt.md.lock
*.lock
ignore_code/
agent_files/
agent_memory_store/
AI Assistant_memory/
blogs/
chroma_db/
logs/
SYSTEM PROMPT.md
SYSTEM_PROMPT_2.md
ignored/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Distribution
dist/
build/

# Poetry
poetry.lock
.cursorignore
.cursorrules
.cursorrules_old
src/base_agent/old_base_agent.py
src/test/class_logic.py
.cursorrules_20250112
.cursorrules_20250113
docs/FAQ.md
docs/memetic-agents-article 1.md
docs/memetic-agents-article copy.md
docs/memetic-agents-new.md
docs/memetic-agents-research-paper.md
docs/prompt-confidence-scoring.md
.cursorrules_prof
.cursor/rules/first-rule.mdc
src/agents/create_curio_agent.py
src/agents/create_franken_agent.py
src/agents/create_reschel_agent.py
src/agents/create_socraryny_agent.py
src/agents/store/create_blogger_agent.py
src/agents/store/create_editor_agent.py
src/agents/store/create_math_agent.py
src/agents/store/create_research_agent.py
src/agents/store/create_time_agent.py
